<h1><%= @user.username %></h1>
<%= @user.email %></br></br>

<h3>Your Projects</h3>
<% @userprojects.each do |p| %>
  <%= p.title %></br>
<% end %></br>

<h3>Your Pledges</h3>
<% @user.pledges.each do |p| %>
  <%= Project.find_by_id(p.id).title unless Project.find_by_id(p.id) == nil%></br>
<% end %>

