/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

.showcaseimg img {
  max-width: 500px;
}

.contain-to-grid {
  border-bottom: 2px solid white;
}

.top-bar {
  background: transparent !important;
}

.top-bar-section li.inactive a:not(.button) {
  background: transparent !important;
}

.contain-to-grid:hover {
  background-color: rgba(0,0,0,0.9); 
}

.right .inactive {
  background: transparent !important;
}

.right .active a{
  border: 1px solid #00BAD8;
  padding: 10px !important;
  line-height: 10px !important;
  margin: 20px 0 0 0;
}
