// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#showcase {
  height: 580px;
  margin-top: -130px;
  background-image: url('/uploads/project/photo/5/fog_toronto.jpg');
  -webkit-background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100% !important;
  max-width: 100% !important;
}

#fill {
  position: absolute;
  height: 556px !important;
  top: 0;
  z-index: -1;
}

.leftfill {
  display: block;
  background-color: #f7f7f7;
  height: 100%;
  width: 50%;
  float: left;
}

.rightfill {
  display: block;
  background-color: #081304;
  height: 100%;
  width: 50%;
  float: right;
}

.search {
  position: absolute;
  width: 30em;
  top: 8%;
  left: 55%;
  margin: 0 auto;
}

.search #s {
  background-color: transparent !important;
  border: 2px solid white;
  font-family: "Open Sans";
  font-weight: 100;
  box-shadow: none;
}

.search input[type="submit"] {
  position: absolute;
  top: -5%;
  left: 85%;
  background-color: #00BAD8;
  border: 2px solid #00BAD8;
  color: white;
  padding: 5px 30px;
  font-family: "Open Sans";
  font-size: 1.1em;
  font-weight: 100;
}

.search input[type="submit"]:hover {
  background-color: darken(#00BAD8, 10%) !important;
  border: 2px solid darken(#00BAD8, 10%) !important;
}

.showcaseimg img {
  max-width: 100% !important;
}

.panel {
  border-top: 3px solid #00BAD8;
}

.panel a {
  color: #00BAD8;
}